<h2 mat-dialog-title>{{ isEditMode ? 'Edit Employee' : 'Add New Employee' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field full-width">
        <mat-label>Employee Name</mat-label>
        <input matInput formControlName="empName" placeholder="  Enter employee name">
        <mat-error *ngIf="empNameError">{{ empNameError }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field full-width">
        <mat-label>Date of Birth</mat-label>
        <input matInput 
               formControlName="employeeDateOfBirth" 
               [matDatepicker]="picker"
               placeholder="YYYY-MM-DD or click calendar">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dateOfBirthError">{{ dateOfBirthError }}</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button 
          color="primary" 
          (click)="onSubmit()" 
          [disabled]="!form.valid">
    {{ isEditMode ? 'Update' : 'Create' }}
  </button>
</mat-dialog-actions>
